.bold {
    font-weight: bold;
}

.table-information, .table-nilai {
    margin-top: 2em;
}

.table-information thead tr th {
    text-align: center !important;
    vertical-align: middle;
}

.table-nilai thead tr th, .table-nilai tbody tr td {
    text-align: center !important;
    vertical-align: middle;
}

table td:hover {
    background-color: bisque;
}

.hrdivider {
    height: 1px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}